@use "mixins"as *;

.header {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 20;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;

    @include media(1100) {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      flex-direction: column;
      align-items: start;
      padding: 100px 30px 20px;
      box-shadow: 0 10px 35px 0 rgba(209, 209, 209, 0.25);
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transform: translate(0, -100%);
      transition: 0.4s;

      @include media(700) {
        width: 100%;
      }

      &_active {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
      }
    }
  }

  &__connection {
    // margin-left: 97px;

    @include media(1100) {
      align-self: flex-end;
      order: -1;
      margin-left: 0;
    }
  }

  &__burger {
    z-index: 20;
    display: none;
    border-radius: 3px;
    padding: 12px 12px 10px;
    box-shadow: 0 10px 35px 0 rgba(63, 103, 69, 0.4);
    background-color: var(--main-color);

    @include media(1100) {
      display: block;
    }
  }
}

.burger {
  @include burger;

  & {
    width: 20px;
    height: 15px;
    color: #fff;
  }
}

.nav {
  &__item {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 25px;
      border-left: 1px solid #d4d0bd;
      padding-left: 25px;
    }

    @include media(1100) {
      display: block;

      &:not(:first-child) {
        margin-left: 0;
        border-left: none;
        padding-left: 0;
      }
    }
  }

  &__link {
    font-size: 18px;
    color: #3a3a3a;

    @include media(1100) {
      font-size: 25px;
      line-height: 220%;
    }
  }
}

.connection {
  display: flex;
  align-items: center;
  gap: 38px;

  @include media(700) {
    gap: 15px;
  }

  &__phone {
    font-weight: 500;
    font-size: 18px;
    color: #3a3a3a;

    @include media(700) {
      font-size: 14px;
    }
  }
}

.btn {
  border-radius: 3px;
  box-shadow: 0 10px 35px 0 rgba(63, 103, 69, 0.4);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: var(--main-color);

  &_size {
    &_s {
      padding: 13px;
      width: 172px;

      @include media(900) {
        padding: 10px;
        width: 130px;
        font-size: 14px;
      }
    }

    &_l {
      padding: 18px;
      width: 197px;

      @include media(900) {
        padding: 10px;
        width: 163px;
        font-size: 14px;
      }
    }
  }
}
