@use "mixins"as *;

.hero {
  padding: 106px 0 200px;

  @include media(1100) {
    padding: 106px 0 100px;
  }

  @include media(900) {
    padding: 30px 0 60px;
  }

  &__container {
    position: relative;

    @include media(900) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    font-size: 30px;
    color: #383838;

    @include media(900) {
      font-size: 20px;
    }
  }

  &__btn {
    margin-top: 28px;
  }

  &__items {
    @include media(1100) {
      margin-top: 50px;
    }

    @include media(900) {
      order: 1;
      margin-top: 0;
    }
  }

  &__hero-item {
    &:first-child {
      margin: 79px 0 0 42px;

      @include media(1100) {
        margin: 0;
      }
    }

    &:last-child {
      margin: 43px 0 0 142px;

      @include media(1100) {
        margin: 30px 0 0;
      }
    }
  }

  &__picture {
    position: absolute;
    right: -304px;
    top: -115px;
    max-width: 100%;

    @include media(1100) {
      right: -60px;
      max-width: 60%;
    }

    @include media(900) {
      position: static;
      max-width: 80%;
    }

    @include media(500) {
      max-width: 100%;
    }
  }
}

.section-title {
  position: relative;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--title-color);

  &::before {
    content: "";
    position: absolute;
    left: -750px;
    top: 34px;
    z-index: -1;
    width: 100%;
    height: 97px;
    background-color: var(--title-bcg-color);

    @include media(900) {
      left: -360px;
      top: 15px;
      width: 600px;
      height: 70px;
    }
  }

  &_white {
    color: #fff;

    &::before {
      background-color: #212121
    }
  }

  @include media(900) {
    font-size: 60px;
  }

  @include media(500) {
    font-size: 40px;
  }
}

.hero-item {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 6px 15px 6px 6px;
  max-width: 403px;
  box-shadow: 0 10px 35px 0 #e8e5d9;
  background-color: #fff;
  gap: 16px;

  &::before {
    content: "";
    position: absolute;
    right: -5px;
    top: 47%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(-45deg);

    @include media(900) {
      right: 20px;
      top: -4px;
    }
  }

  &__icon {
    border-radius: 3px;
    padding: 14px;
    max-width: 60px;
    background: #2b2b2b;
  }

  &__svg {
    width: 32px;
    height: 32px;
    fill: #fff;
  }

  &__txt {
    font-weight: 500;
    font-size: 18px;
    color: #444;
  }
}
