<section class="advantages">
  <div class="container advantages__container">
    <h2 class="section-title advantages__section-title">преимущества <br> продукта</h2>
    <div class="advantages__item-wrap">
      <div class="advantages__item-wrap-bg advantages__item-wrap-bg_1"></div>
      <div class="advantages-item advantages-item_1">
        <h3 class="advantages-item__title">Экономит время</h3>
        <p class="advantages-item__txt">
          При проколе выходит воздух из шины, падает давление и шина не может вращаться.
        </p>
        <ul class="list-reset advantages-item__list">
          <li class="advantages-item__elem">
            Водителю легковой машины необходимо поменять спущенное колесо на запаску (если она имеется). Поехать на
            станцию обслуживания (шиномонтаж).
          </li>
          <li class="advantages-item__elem">
            Ремонт шины будет стоить с услугами демонтаж-монтаж около 200-300грн (в зависимости от радиуса шины и
            региона
            проживания)
          </li>
          <li class="advantages-item__elem">
            Временные затраты (без учета проезда к шиномонтажу и обратно) будут составлять около 30-40 мин, зависит от
            загруженности и сноровки мастера.
          </li>
        </ul>
      </div>
    </div>
    <div class="advantages__item-wrap">
      <div class="advantages__item-wrap-bg advantages__item-wrap-bg_2"></div>
      <div class="advantages-item advantages-item_2">
        <p class="advantages-item__txt">
          Если вы или ваш бизнес связан
          с механизатором/оператором
        </p>
        <ul class="list-reset advantages-item__list">
          <li class="advantages-item__elem">
            Который выполняет важную работу всегда нужно её выполнить точно в срок, будь то подкормка крупнорогатого
            скота в коровнике, культивация, посевная или уборка урожая.
          </li>
          <li class="advantages-item__elem">
            Каждая минута на счету. Из-за мелкого прокола можно остановить работу на 2-3 часа. В сезон уборки это может
            сыграть злую шутку.
          </li>
        </ul>
      </div>
    </div>
    <div class="save-time">
      <h3 class="save-time__title">Экономит время</h3>
      <div class="save-time__items">
        <div class="save-time__item">
          <div class="save-time__img save-time__img_1"></div>
          <div class="save-time__txt">
            <p class="save-time__p">
              Потеря давления в шине сокращает жизнь колеса.
            </p>
            <p class="save-time__p">
              Самый важный элемент в шине это давление. Из-за потери воздуха колесо шина быстрее стирается, трескается
              на плечевой зоне снаружи и внутри.
            </p>
          </div>
        </div>
        <div class="save-time__item">
          <div class="save-time__img save-time__img_2"></div>
          <div class="save-time__txt">
            <p class="save-time__p">
              Прокол можно заметить слишком поздно
            </p>
            <p class="save-time__p">
              Когда шина «выстреливает» из-за повышенной нагрузки и тогда простым оперативным ремонтом в поле уже не
              отделаться.
            </p>
          </div>
        </div>
        <div class="save-time__item">
          <div class="save-time__img save-time__img_3"></div>
          <div class="save-time__txt">
            <p class="save-time__p">
              Стоимость шины для комбайна может достигать 100 тыс. грн.
            </p>
            <p class="save-time__p">
              Замена колеса в поле дело не из приятных, каждый, кто с этим сталкивался вряд ли захотел бы с этим
              заниматься еще раз.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>