<section class="banner">
  <div class="container banner__container">
    <div class="banner-item">
      <h3 class="banner-item__title">Герметик для шин</h3>
      <p class="banner-item__p">
        Описание продукции. Возможный состав. Сколько времени он действует
        и работает.
      </p>
      <p class="banner-item__p">
        Товарищи! консультация с широким активом играет важную роль
        в формировании направлений прогрессивного развития.
      </p>
      <p class="banner-item__price">3 500 грн</p>
      <button class="btn-reset btn btn_size_l banner-item__btn">Заказать</button>
    </div>
    <div class="banner__img"></div>
  </div>
</section>