<section class="cycle">
  <div class="container cycle__container">
    <h2 class="section-title cycle__section-title">Беспрерывный цикл работы</h2>
    <div class="process cycle__process">
      <div class="process__item">
        <div class="process__icon process__icon_1"></div>
        <p class="process__title">Закачали</p>
      </div>
      <div class="process__arrow">
        <svg class="process__arrow-svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="process__item">
        <div class="process__icon process__icon_2"></div>
        <p class="process__title">Работаем</p>
      </div>
      <div class="process__arrow">
        <svg class="process__arrow-svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
        <svg class="process__arrow-svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="process__item">
        <div class="process__icon process__icon_3"></div>
        <p class="process__title">Прокололи</p>
      </div>
    </div>
    <div class="cycle__items">
      <div class="cycle__item">
        <div class="cycle__item-photo cycle__item-photo_1"></div>
        <div class="cycle__item-txt">
          <p class="cycle__item-p">
            Закачиваем в легковую
          </p>
        </div>
      </div>
      <div class="cycle__item">
        <div class="cycle__item-photo cycle__item-photo_2"></div>
        <div class="cycle__item-txt">
          <p class="cycle__item-p">
            Закачиваем в грузовую
          </p>
        </div>
      </div>
      <div class="cycle__item">
        <div class="cycle__item-photo cycle__item-photo_3"></div>
        <div class="cycle__item-txt">
          <p class="cycle__item-p">
            Закачиваем в сельхозтехнику
          </p>
        </div>
      </div>
    </div>
    <button class="btn-reset btn btn_size_l cycle__btn">
      Перейти в instagram
      <svg class="cycle__btn-svg">
        <use xlink:href="img/sprite.svg#inst"></use>
      </svg>
    </button>
  </div>
</section>