<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />

  <link rel="icon" type="image/png" href="./favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Герметик для шин" />
  <link rel="manifest" href="./favicon/site.webmanifest" />

  <title>Герметик для шин «Drive safe»</title>
  <link rel="preload" href="./fonts/FuturaNewBook.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="./fonts/FuturaNewBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="./fonts/FuturaNewMedium.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="./fonts/FuturaNewDemi.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>