<section class="question">
  <div class="container question__container">
    <h2 class="section-title question__section-title">Часто задаваемые вопросы</h2>
    <ul class="list-reset question__list">
      <li class="question__item">
        <button class="btn-resen question__title" aria-label="Открыть ответ">
          Что такое герметик для шин и как он работает?
        </button>
        <div class="question__p">
          <p class="question__p-padding">
            Герметик для шин — это специальное вещество, которое заполняет и герметизирует проколы в шинах. Он работает
            за
            счет того, что при проколе герметик вытекает из внутренней части шины и заполняет отверстие, образуя прочную
            пленку, которая предотвращает дальнейшую утечку воздуха.
          </p>
        </div>
      </li>
      <li class="question__item">
        <button class="btn-resen question__title" aria-label="Открыть ответ">
          Как долго герметик сохраняет свои свойства?
        </button>
        <div class="question__p">
          <p class="question__p-padding">
            Срок действия герметика зависит от его состава и условий эксплуатации. Обычно он может эффективно работать
            от
            нескольких месяцев до нескольких лет. Рекомендуется периодически проверять давление в шинах и состояние
            герметика, особенно перед длительными поездками.
          </p>
        </div>
      </li>
      <li class="question__item">
        <button class="btn-resen question__title" aria-label="Открыть ответ">
          Можно ли использовать герметик для всех типов шин?
        </button>
        <div class="question__p">
          <p class="question__p-padding">
            Большинство герметиков подходит для легковых автомобилей, мотоциклов и велосипедов. Однако не все продукты
            совместимы с шинами для грузовиков или внедорожников. Перед использованием важно ознакомиться с
            рекомендациями
            производителя.
          </p>
        </div>
      </li>
      <li class="question__item">
        <button class="btn-resen question__title" aria-label="Открыть ответ">
          Как правильно применять герметик для шин?
        </button>
        <div class="question__p">
          <p class="question__p-padding">
            Для применения герметика необходимо: <br>
            <br>
            1. Убедиться, что шина полностью спущена.<br>
            2. Встряхнуть баллон с герметиком.<br>
            3. Подключить насадку к вентилю шины и равномерно распылить содержимое.<br>
            4. Накачать шину до рекомендованного давления.<br>
            5. Прокатить автомобиль на небольшом расстоянии, чтобы герметик равномерно распределился внутри.
          </p>
        </div>
      </li>
      <li class="question__item">
        <button class="btn-resen question__title" aria-label="Открыть ответ">
          Может ли герметик повредить шину или диск?
        </button>
        <div class="question__p">
          <p class="question__p-padding">
            При правильном использовании качественного герметика риск повреждения минимален. Однако некоторые дешевые
            или
            несертифицированные продукты могут вызвать коррозию дисков или ухудшение состояния резины. Поэтому важно
            выбирать проверенные бренды и следовать инструкциям на упаковке.
          </p>
        </div>
      </li>
    </ul>
    <div class="question__img"></div>
  </div>
</section>