<section class="reviews">
  <div class="container reviews__container">
    <h2 class="section-title reviews__section-title">Отзывы наших покупателей</h2>
    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews-item">
            <div class="reviews-user">
              <div class="reviews-user__photo reviews-user__photo_1"></div>
              <div class="reviews-user__info">
                <p class="reviews-user__name">Василий Семёнов</p>
                <div class="reviews-user__date">
                  <div class="reviews-user__icon">
                    <svg class="reviews-user__date-svg">
                      <use xlink:href="img/sprite.svg#calendar"></use>
                    </svg>
                  </div>
                  <span class="reviews-user__date-span">12.05.2021</span>
                </div>
              </div>
            </div>
            <p class="reviews-item__p">
              Давно уже начал пользоваться герметиком для шин. Много денег и времени экономлю на замене шин. Люблю
              заказывать
              с данного сайта, быстрая доставка и отличная цена.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-item">
            <div class="reviews-user">
              <div class="reviews-user__photo reviews-user__photo_2"></div>
              <div class="reviews-user__info">
                <p class="reviews-user__name">Василий Семёнов</p>
                <div class="reviews-user__date">
                  <div class="reviews-user__icon">
                    <svg class="reviews-user__date-svg">
                      <use xlink:href="img/sprite.svg#calendar"></use>
                    </svg>
                  </div>
                  <span class="reviews-user__date-span">12.05.2021</span>
                </div>
              </div>
            </div>
            <p class="reviews-item__p">
              Давно уже начал пользоваться герметиком для шин. Много денег и времени экономлю на замене шин. Люблю
              заказывать
              с данного сайта, быстрая доставка и отличная цена.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-item">
            <div class="reviews-user">
              <div class="reviews-user__photo reviews-user__photo_1"></div>
              <div class="reviews-user__info">
                <p class="reviews-user__name">Василий Семёнов</p>
                <div class="reviews-user__date">
                  <div class="reviews-user__icon">
                    <svg class="reviews-user__date-svg">
                      <use xlink:href="img/sprite.svg#calendar"></use>
                    </svg>
                  </div>
                  <span class="reviews-user__date-span">12.05.2021</span>
                </div>
              </div>
            </div>
            <p class="reviews-item__p">
              Давно уже начал пользоваться герметиком для шин. Много денег и времени экономлю на замене шин. Люблю
              заказывать
              с данного сайта, быстрая доставка и отличная цена.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-item">
            <div class="reviews-user">
              <div class="reviews-user__photo reviews-user__photo_2"></div>
              <div class="reviews-user__info">
                <p class="reviews-user__name">Василий Семёнов</p>
                <div class="reviews-user__date">
                  <div class="reviews-user__icon">
                    <svg class="reviews-user__date-svg">
                      <use xlink:href="img/sprite.svg#calendar"></use>
                    </svg>
                  </div>
                  <span class="reviews-user__date-span">12.05.2021</span>
                </div>
              </div>
            </div>
            <p class="reviews-item__p">
              Давно уже начал пользоваться герметиком для шин. Много денег и времени экономлю на замене шин. Люблю
              заказывать
              с данного сайта, быстрая доставка и отличная цена.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-swiper-button reviews-swiper-button_next">
      <svg class="reviews-swiper-button__svg">
        <use xlink:href="img/sprite.svg#mark"></use>
      </svg>
    </div>
    <div class="reviews-swiper-button reviews-swiper-button_prev">
      <svg class="reviews-swiper-button__svg">
        <use xlink:href="img/sprite.svg#mark"></use>
      </svg>
    </div>
  </div>
</section>