<section class="statistics">
  <div class="container statistics__container">
    <div class="statistics__item">
      <p class="statistics__count">568</p>
      <p class="statistics__txt">Литров герметика продано</p>
    </div>
    <div class="statistics__item">
      <p class="statistics__count">423</p>
      <p class="statistics__txt">Клиента довольны покупкой</p>
    </div>
    <div class="statistics__item">
      <p class="statistics__count">554</p>
      <p class="statistics__txt">Спасенных шин от замены</p>
    </div>
  </div>
</section>